@font-face {
    font-family: lydian;
    src: url(../lydian.ttf)format("truetype");
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: lydian !important;
}

h1{
	font-size: 36pt;
}

h2{
	font-size: 36pt;
}

.main{
/*	text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;*/
    position: relative;
    height: 550px;
}

.landing{
	margin-top: 200px;
}

.startbutton, .nextbutton{
	font-size: 20pt;
	width: 170px;
	background-color: yellow;
	color: black;
	margin-top: 30px;
	margin-left: auto;
	margin-right:auto;
	padding: 10px;
}

.nextbutton{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 200px;
    margin-top: 100px;
}

.para{
	margin: 0 auto;
    max-width: 650px;
    font-size: 24pt;
    text-align: left;
}

.content{
	margin-top: 80px;
}

.inputbox{
	background-color: black;
	border-color: white;
	font-size: 20pt;
	width: 130px;
}

.unit{
	font-size: 20pt;
	margin-left: 10px;
}

.output{
	font-size: 30pt;
	color: yellow;
}